<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FurnitureSystemConnection" connectionString="data source=.\SQLEXPRESS;initial catalog=FurnitureSystem;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>