<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FurnitureSystem.Excel.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FurnitureSystem.Excel.Settings>
            <setting name="provider" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;</value>
            </setting>
            <setting name="extendedSettings" serializeAs="String">
                <value>;Extended Properties='Excel 12.0 xml;HDR=Yes';</value>
            </setting>
            <setting name="writerConnection" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=../../../ExcelReports/Write/Furniture2007.xlsx;Extended Properties='Excel 12.0 xml;HDR=Yes';</value>
            </setting>
        </FurnitureSystem.Excel.Settings>
    </userSettings>
</configuration>